@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
    overflow: hidden;
    color: #fbecd6;
}

header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: .1rem 5%;
   background: #8D090D;
   display: flex;
   align-items: center;
   z-index: 100;
   height: 75px;
}
  
.header.sticky {
   border-bottom: .2rem solid rgba(185, 169, 169, 0.2);
}
  
h4{
   color: #fff;
   font-family: 'Darker Grotesque', sans-serif;
   font-size: 1.7rem;
   margin-left: 1rem;
}

.logs{
    width: 3rem;
    height: 3rem;
}

.menu-icon{
    font-size: 35px;
    color: #fff;
    cursor: pointer;
    margin-left: auto;
    font-weight: bold;
}

.menu-icon {
    cursor: pointer;
}

.menu-popup {
    display: none;
    position: absolute;
    background: #8D090D;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    z-index: 100;
    top: 100%; 
    right: 0; 
    color: #fff;
}

.menu-popup ul li {
    padding: 10px;
    list-style: none;
}

section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.profile{
    position: sticky;
    overflow: hidden;
    top: 10px;
    display: flex; 
    justify-content: space-between; 
    background-image: url(img/bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    padding: 80px;
}

.left-container {
    flex: 1; 
    background-color: rgba(190, 44, 44, 0.48); 
    display: flex; 
    align-items: center;
    border-radius: 14px;
    margin-right: 30px;
    height: fit-content;
    border: 2px solid #000000;
}
  
.profile-picture img {
    height: 190px;
    border-radius: 50%;
  }
  
.profile-details { 
    color: #760D0D;
    font-size: 25px;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: bold;
  }

.right-container {
    flex: 1;
    background-color: rgba(190, 44, 44, 0.48); 
    color: rgba(255, 255, 255, 1);
    display: flex; 
    border-radius: 14px;
    height: fit-content;
}
  
.three-column-text {
    flex: 1;
    display: flex;
    padding: 10px;
    flex-direction: column;
    color: #760D0D;
}
  
.right-container .column{
    flex: 1;
    padding: 10px;
    background-color: (190, 44, 44, 0.48);
}

.right-container .column h3{
    margin-left: 20px;
    margin-bottom: 18px;
    font-size: 25px;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: medium;
}
  
.image {
    float: right;
    align-items: center;
    margin-top: 20px;
}
  
.image img {
    width: 70%;
    height: 87%;
}

.ident{
    flex: 1;
}

.ident{
    border-top: 1px solid #000000;
    background-color: #FFFFFF;
    justify-content: center;
    margin: 0;
    width: 100%;
    max-height: 50vh;
    justify-content: space-between;
    position: sticky;
    top: 10px;
}

.ident .container{
    margin: 7px;
    width: 95%;
    background-color: #8D090D;
    padding: 5px;
    text-align: center;
    position: relative;
}

.ident .label{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: normal;
    font-size: 23px;
    color: #EFDFDF;
}

.ident .column{
    display: grid;
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;

}

.list{
    background-color: #FFFFFF;
    justify-content: center;
    margin: 0;
    width: 100%;
    max-height: 50vh;
    justify-content: space-between;
    overflow: auto;
}

.list::-webkit-scrollbar-thumb {
    background-color: #8D090D; 
    border-radius: 5px;
}

.list::-webkit-scrollbar{
    width: 10px;
    background-color: #E6CBCB;
    border-radius: 5px;
}

.column{
    flex: 1;
}

.bx-filter-alt {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #fff6f6;
    cursor: pointer;
}

.contents .cons{
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 30px;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 550;
    font-size: 25px;
    color: #070000;
}

.cons {
    position: relative;
}

.cons::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    margin-right: 15px;
    width: 100%;
    height: 1px;
    background-color: #000;
    margin-top: 10px; 
}

.filter-popup {
    display: none;
    position: absolute;
    background: #8D090D;
    border: 1px solid #ccc;
    list-style: none; 
    padding: 0;
    z-index: 100;
    color: #FFF;
    border-radius: 1rem;
    opacity: 0.8;
}

.filter-popup ul {
    list-style-type: none; 
    padding: 0;
}

.filter-popup li {
    cursor: pointer;
    padding: 10px;
}

.filter-container {
    display: flex;
    align-items: center;
}

.filter-icon {
    cursor: pointer;
    margin-left: 10px;
}